body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2D3142;
  color: #D8D5DB;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px auto;
}

.logo-name,
.logo-title {
  font-family: cursive;
}
.logo-name {
  font-size: 4em;
  margin: 0;
}

.logo-title {
  margin-left: auto;
  margin-top: 0;
}

hr {
  color: #D8D5DB;
  width: 1000px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 200px 10px;
  font-size: 18px;
}

li > a {
  color: #D8D5DB;
  text-decoration: none;
}

.description {
  margin: 30px 250px 20px;
  padding: 20px;
  font-size: 18px;
}

.services {
  margin-left: 255px;
  padding-left: 20px;
  margin-bottom: -10px;
}